.Note {
    display: flex;
    flex-direction: column;
}

textarea{
    background-color: var(--color-secondary);
    
    /* window */
    /* width : 100%;
    height : 100vh; */
    
    /* Border */
    border-radius: 25px;
    
    field-sizing:content;

}